<app-header></app-header>
<div class="auth">
    <mat-card class="auth-form" [ngSwitch]="authentification">
        <mat-card-actions *ngSwitchCase=" 'sign_in' ">
            <form [formGroup]="login" class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" matInput placeholder="Ex. pat@example.com">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error> -->

                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput placeholder="1111">
                </mat-form-field>
            </form>
            <button mat-button (click)="logIn();">Sign In</button>
            <button mat-button (click)="authentification = 'sign_up' ">Sign Up</button>
        </mat-card-actions>
        <mat-card-actions *ngSwitchCase=" 'sign_up' ">
            <form [formGroup]="register" class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Full Name</mat-label>
                    <input formControlName="name" type="email" matInput placeholder="Ex. pat@example.com">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" matInput placeholder="Ex. pat@example.com">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput placeholder="1111">
                </mat-form-field>
            </form>
            <button mat-button (click)="authentification = 'sign_in' ">Sign In</button>
            <button mat-button (click)="signUp();">Register</button>
        </mat-card-actions>
    </mat-card>
</div>
<app-footer></app-footer>